<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İklim Sorunu</title>
    </head>
<body>

    <div class="head_img">
        <h1>İKLİM SORUNU</h1>
        <img src="../static/image/iklim.jpg" alt="iklim" width="150" height="125">
    </div>

</body>
</html>
<body>
<h2>İklim Değişikliği:</h1>
<p1>sıcaklık ve hava koşullarındaki uzun vadeli değişimleri ifade eder.</p1>
<h2>İklim Değişikliğinin Neden Olur?</h2>
<p1>Güneş enerjisi yansımaları, dünyanın yörüngesi, atmosferik bileşenler,
 atmosferin albedo özellikleri, volkanik küller, bulut
 örtüsü faktörleri iklim değişikliğine sebep olmaktadır.</p1>

</body>